
.rdViewButton {
  width : 100%;
  line-height: 34px;
  text-align : center;
  background-color: #393a3d;
  color : white;
  transition: 0.15s background-color ease-in;
}

.rdViewButton_disable {
  width : 34px;
  height : 34px;
  line-height: 34px;
  text-align : center;
  background : #27292b;
  color : #44474c;
}
.rdViewButton:hover {
  background-color: white;
  color: #47b3ef;
  opacity: 0.8;
  transition: 0.15s background-color ease-in;
}
